
body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: absolute;
  width:100% !important;

}

.labela {
  background-color: #3D3D3D;
  color: white;
  text-align: center;
  font-family: Questrial;
  font-size: 0.9rem;
  font-style: normal;
  padding-top: 1px;
  z-index: 2;
}

.meni {
  background-color: black;
  color: white !important;
  text-align: center;
}

.nav-link{
  color: white !important;
  text-align: center;
  font-size: 1rem;
  font-family: Montserrat;
}

.nav-link:hover {

}


.logo-navbar{
  width:50px;

}

.navbar-nav{
}

.navbar-toggler-icon  {
}

.cart-ikonica  {
}

.srce-ikonica  {
  padding-bottom: 1px;
  background: black
}

.slider {
padding: 0 0 0 0;
width:100%;
left: 0;
}


.show-cart li {
  display: flex
}

.artikli {
padding: 0 0 0 0;
}

.eshop {

}

.row {
padding: 0 0 0 0;
width: 100%;
margin: 0 0 0 0;
}

.card {
margin-left: 0px;
margin-right: 0px;
padding: 0 0 0 0;
}

.box {
  display:inline-block;
  padding: 0 0 0 0;
}

.card-img-top {

  width: 200px;
  height: 200px;

}

.card-title {
padding-left: 15px;
}

.card-text {
padding-left: 15px;
}

.kupi {
position: relative;
left: 15px;
}

.card-img-top{
  width: 70%;
  height: 70%;
}

.korpa{
color: white;
}
