body {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}

.card {
  margin-bottom: 20px;
  margin-left: -25px;
  margin-right: -25px;
}

.card-img-top {

  width: 200px;
  height: 200px;

}
